/* En el archivo main-page.component.css */
/* Ajustar el tamaño de toda la página dentro del viewport height (vh) */
#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  flex: 1;
  padding-bottom: 60px; 
  overflow-y: auto; 
}

/* Estilos para el logo */
.logo-container {
  width: 100%;
  text-align: center;
}

.logo-container img {
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: spin 10s linear infinite; /* Animación para girar el logo */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-container img:hover {
  transform: scale(1.1);
}

/* Estilos para el título del producto */
.product-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #128c7e;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease-in-out;
  margin: 16px;
}

.product-title:hover {
  color: #0b614c;
}

/* Estilos para la descripción */
.product-description {
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.presentation {
  text-align: center;
  margin: 20px 0;
}

/* Estilos para las cards de los creadores */
.creators {
  display: flex;
  justify-content: center;
}

.canvas-card {
  width: 160px;
  height: 160px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  transition: width 0.3s ease-in-out; /* Transición para el ancho al expandirse */
  margin: 5px 80px 0 80px; /* Separación entre las cards */
}

.creator-image {
  height: 160px; 
  width: 160px;
  object-fit: cover;
}

.creator-info {
  position: absolute;
  top: 0;
  left: 100%; 
  width: 300px; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: left 0.3s ease-in-out; 
  text-align: left;
}

.creator-info h3 {
  color: #fff; 
  font-size: 18px; 
  margin-bottom: 8px; 
}

.creator-info p {
  color: #ddd; 
  font-size: 14px; 
  margin: 0;
}

.canvas-card:hover {
  width: 460px; 
}

.canvas-card:hover .creator-info {
  left: 160px;
}

.flag {
  width: 20px; 
  height: 15px;
  margin-right: 5px; 
  vertical-align: middle; 
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 20%;
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}

.search-and-user {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  width: 30%;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.user-icon {
  margin-left: 10px;
  cursor: pointer;
}

.user-icon img {
  width: 32px;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  height: 80vh;
}

.left-container {
  width: 15%;
  background-color: #1d1d1d;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.new-canvas {
  font-size: medium;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 24px;
}

.old-canvas {
  font-size: medium;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 8px;
}

.center-container {
  width: 65%;
  background-color: #ffffff;
  border: 2px solid #1d1d1d;
}

.text-canvas {
  margin: 8px 8px;
  font-size: large;
  font-weight: bold;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #1d1d1d;
  padding: 20px;
}

.tools-container {
  height: 100%;
  font-size: medium;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  padding: 6px;
}

.tools-title {
  color: white;
  margin: 8px 0 8px 0;
  margin-bottom: 24px;
}

.tools-title p {
  color: white;
  margin-bottom: 4px;
}

.tools-contenedores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  color: white;
  background-color: white;
  margin: 8px 2px 8px 2px;
  padding: 2px;
  margin-bottom: 24px;
  border: 2px solid #e1e1e1;
}

.tools-contenedores img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Estilos para la sección de la marca de autor */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: medium;
}

footer a {
  color: black;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  margin: 0 5px;
}

p {
  margin: 0;
  color: black;
}
