<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">

    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>

      <router-outlet></router-outlet>
      <div class="row">
        <app-cards class="col-lg-4 col-md-6" [dataEntrante]="cards" *ngFor="let cards of ArregloTarjetas"></app-cards>
      </div>

      <footer class="footer">
        <a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Social Canvas 2023</a>
        <div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=100093665499228" target="_blank"><img src="assets/ws.png" alt="Facebook"></a>
          <a href="https://www.facebook.com/profile.php?id=100093665499228" target="_blank"><img src="assets/fb.png" alt="Twitter"></a>
          <a href="https://www.facebook.com/profile.php?id=100093665499228" target="_blank"><img src="assets/ig.png" alt="Instagram"></a>
        </div>
        <p>Síguenos en nuestras redes sociales</p>
      </footer>
    </div>
  </div>
</div>
