<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">

    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>

      <router-outlet></router-outlet>

      <ng-container *ngIf="selectedChatOption === 'ws-chats'">
        <!-- <app-ws-canvas></app-ws-canvas> -->
      </ng-container>

      <ng-container *ngIf="selectedChatOption === 'fb-canvas'">
        <!-- <app-fb-canvas></app-fb-canvas> -->
      </ng-container>

      <ng-container *ngIf="selectedChatOption === 'ig-canvas'">
        <!-- <app-ig-canvas></app-ig-canvas> -->
      </ng-container>

      <footer class="footer">
        <a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Social Canvas 2023</a>
        <div class="social-media">
          <!-- <a href="https://www.facebook.com/profile.php?id=100093665499228" target="_blank"><img src="assets/ws.png" alt="Facebook"></a>
          <a href="https://www.facebook.com/profile.php?id=100093665499228" target="_blank"><img src="assets/fb.png" alt="Twitter"></a>
          <a href="https://www.facebook.com/profile.php?id=100093665499228" target="_blank"><img src="assets/ig.png" alt="Instagram"></a> -->
        </div>
        <p>Síguenos en nuestras redes sociales</p>
      </footer>
    </div>
  </div>
</div>
