.user-list-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  height: 460px;
  padding: 10px;

  .user-card {
    display: flex;
    padding: 10px;
    cursor: pointer;

    &.active {
      background-color: #EDEDED;
    }

    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 15px 0 0;
    }

    .username {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .user-card:not(:last-child) {
    border-bottom: 1px solid #bbbbbb;
  }
}

.chat-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  height: 460px;
  position: relative;
  overflow: hidden;

  .chat-header {
    height: 10%;
    background-color: #EDEDED;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 20px;
    }

    .username {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .chat-body {
    align-items: flex-start;
    background-image: url(../../../assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 78%;
    padding: 15px 25px 0 25px;
    color: black;
    font-weight: 400;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scroll-behavior: smooth;

    .message-container {
      background-color: white;
      padding: 7px;
      border-radius: 5px;
      width: fit-content;
      max-width: 90%;
      margin-bottom: 15px;
    }

    .same-user {
      display: flex;
      justify-content: flex-end;

      .message-container {
        background-color: lightskyblue;
      }
    }
  }
  /* WebKit based (Chrome, Safari) custom scrollbar styles */
  .chat-body::-webkit-scrollbar {
    width: 8px;
  }

  .chat-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .chat-body::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .chat-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
    padding: 10px 20px;

    .form-control {
      background-color: white;
      border: 1px solid #D8DDEC;
      box-sizing: border-box;
      border-radius: 20px;
      font-size: 1rem;
      color: black;
    }
  }
}