<div class="login-page">
    <div class="outBox">
        <img class="logo" src="https://i.imgur.com/rSFPfeG.png" alt="">
        <div class="inputsMail">
            <img src="https://i.imgur.com/75qYyVV.png" alt="">
            <input id="inputsMail" type="email" placeholder="mail@example.com">
        </div>
        <div class="inputsPss">
            <img src="https://i.imgur.com/oACphon.png" alt="">
            <input id="inputsPss" type="password" placeholder="********">
        </div>
        <div class="forgot">
            <a routerLink="/MainPage" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot password</a>
        </div>
        <div class="buttons">
            <button id="btnLogIn" routerLink="/MainPage" routerLinkActive="active" ariaCurrentWhenActive="page">Log In</button>
            <button id="btnSingUp" routerLink="/MainPage" routerLinkActive="active" ariaCurrentWhenActive="page">Sing Up</button>
        </div>
    </div>
</div>
