<div class="outBox">
    <div class="container">
        <div class="logo">
            <img src="assets/logo.png" alt="">
        </div>
        <div class="inputsMail">
            <img src="assets/email.png" alt="">
            <input id="inputsMail" type="email" placeholder="mail@example.com">
        </div>
        <div class="inputsPss">
            <img src="assets/padlock.png" alt="">
            <input id="inputsPss" type="password" placeholder="********">
        </div>
        <div class="forgot">
            <a routerLink="/MainPage" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot password</a>
        </div>
        <div class="buttons">
            <button id="btnLogIn" routerLink="/MainPage" routerLinkActive="active" ariaCurrentWhenActive="page">Log In</button>
            <button id="btnSingUp" routerLink="/MainPage" routerLinkActive="active" ariaCurrentWhenActive="page">Sing Up</button>
        </div>
    </div>
</div>
 