<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-small-cap">Personal</li>
              <li>
                <a class="waves-effect waves-dark text-white" (click)="selectChatOption('ws-chats')" aria-expanded="false">
                  <i class="mdi mdi-gauge"></i><span class="hide-menu">Whatsapp</span>
                </a>
              </li>
              <li>
                <a class="waves-effect waves-dark text-white" (click)="selectChatOption('fb-canvas')" aria-expanded="false">
                  <i class="mdi mdi-gauge"></i><span class="hide-menu">Facebook</span>
                </a>
              </li>
              <li>
                <a class="waves-effect waves-dark text-white" (click)="selectChatOption('ig-canvas')" aria-expanded="false">
                  <i class="mdi mdi-gauge"></i><span class="hide-menu">Instagram</span>
                </a>
              </li>

          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
