<!-- Barra de navegación -->
<nav>
  <!-- Banner en la parte superior izquierda -->
  <div class="banner">
    <img src="assets/logo2.jpg" alt="logo" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">
  </div>

  <!-- Cuadro de buscar y usuario en la parte superior derecha -->
  <div class="search-and-user">
    <input type="text" placeholder="Buscar">
    <!-- Aquí va el código para mostrar el ícono de usuario -->
  </div>
  <div class="user-icon">
    <img src="assets/user.png" alt="logo" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">
  </div>
</nav>
  
<!-- Contenedor principal -->
<div class="container">

  <!-- Primer contenedor de la izquierda -->
  <div class="left-container">
    <div class="new-canvas"> + Nuevo canvas </div>
    <div class="old-canvas"> Whatsapp Groups </div>
    <div class="old-canvas"> Facebook 2 </div>
    <div class="old-canvas"> Instagram Recipes </div>
  </div>

  <!-- Segundo contenedor central -->
  <div class="center-container">
    <div class="text-canvas">Whatsapp Groups</div>
    <div class="canvas">
    </div>
  </div>

  <!-- Tercer contenedor de la derecha -->
  <div class="right-container">
    <div class="tools-container">
      <div class="tools-title">
        <p>Herramientas</p>
        <p>Íconos:</p>
      </div>
      <div class="tools-contenedores">
        <img src="assets/ws.png" alt="icon1">
        <img src="assets/fb.png" alt="icon2">
        <img src="assets/ig.png" alt="icon3">
        <img src="assets/ws.png" alt="icon4">
        <img src="assets/fb.png" alt="icon5">
        <img src="assets/ig.png" alt="icon6">
      </div>
    </div>
  </div>

</div>

<footer>
  <a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Social Canvas 2023</a>
  <div class="social-media">
    <a href="#"><img src="assets/ws.png" alt="Facebook" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
    <a href="#"><img src="assets/fb.png" alt="Twitter" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
    <a href="#"><img src="assets/ig.png" alt="Instagram" routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
  </div>
  <p>Síguenos en nuestras redes sociales</p>
</footer>