.light-logo {
    margin-left: 5%;
}

header {
  background: linear-gradient(45deg, #44ccaa, #339988, #88eedd, #88ccbb, #33ccbb);
  background-size: 200% 200%;
  animation: gradientChange 10s linear infinite;
}

.ws-header {
  background: linear-gradient(45deg, #075e54, #128c7e, #25d366, #dcf8c6, #ece5dd);
  background-size: 200% 200%;
  animation: gradientChange 5s linear infinite;
}

/* Estilos para el header cuando la opción seleccionada es 'fb-canvas' */
.fb-header {
  background: linear-gradient(45deg, #b2dafc, #a1d4ff, #8dcbff, #7fc4fe, #6ebdff);
  background-size: 200% 200%;
  animation: gradientChange 5s linear infinite;
}

/* Estilos para el header cuando la opción seleccionada es 'ig-canvas' */
.ig-header {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  background-size: 200% 200%;
  animation: gradientChange 5s linear infinite;
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}