.background {
  background: linear-gradient(45deg, #04231b, #2ca3a2, #bffae6);
  background-size: 300% 300%;
  animation: gradientAnimation 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.521);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
}

h1 {
  font-size: 48px;
  color: #04231b;
}

h2 {
  font-size: 24px;
  color: #04231b;
  margin-top: 10px;
}

p {
  font-size: 18px;
  color: #04231b;
  margin-top: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
